.main-grid {
    display: grid;
    grid-template-columns: minmax(auto, 1fr);
    row-gap: var(--grid-gap);
    grid-template-areas:
        "main-grid__hero"
        "new"
        "ranked-articles";
}

.main-grid__hero {
    grid-area: main-grid__hero;
}

.main-grid__ranked-articles {
    grid-area: ranked-articles;
    margin-bottom: 5em;
}

.main-grid__new-articles {
    grid-area: new-articles;
}

@media (min-width: 1440px) {   
    .main-grid {
        grid-template-columns: 2fr 1fr;
        grid-gap: 4em var(--grid-gap);
        grid-template-areas:
            "main-grid__hero    new-articles"
            "ranked-articles    ranked-articles";
    }

    .main-grid__ranked-articles {
        margin-bottom: 1em;
    }
    
}