.page__header {
    margin-bottom: 3rem;
}

.page__attribution {
    position: fixed;
    bottom: 0;
}

.page__menu {
    position: fixed;
    right: 0;
    top: 0;
}

.page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1440px) {    
    .page__menu {
        position: unset;
    }
}